/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  height: 100%;
}

h1 {
  letter-spacing: .3em;
  font-weight: 800;
}
.darkButton{
  padding: 0 .7rem;
}
h2 {
  color: rgb(119, 8, 101);
  font-weight: 600;
}

.headerAndDarkbutton {
  display: flex;
  justify-content: space-between;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
}

.mainDiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  margin: 2em;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin: 1em 2.75em;
  padding: .1em;
  font-size: 14px;
  background: radial-gradient(circle, rgb(245, 224, 149) 9%, rgb(249, 165, 20) 100%);
}
.LINK{
  text-decoration: none;
}
.county-img {
  height: 10rem;
  width: 100%;
}

.search-input {
  background-color: rgb(248, 225, 205);
  /* search icon added */
  background-image: url("../public/search-interface-symbol.png");
  background-position-x: 95%;
  background-position-y:center;
  background-size: 1.1em;
  background-repeat: no-repeat;
  /* search icon added above*/
  font-weight: 600;
  font-size: 1rem;
  padding: 2%;
  width: 50vw;
  border: .5px solid rgb(199, 199, 199);
}
.search-input:hover{
  background-color: rgb(251, 174, 106);
  transition: .75s ease-out;
  font-weight: 600;
}
.select {
  background-color: rgb(248, 225, 205);
  font-size: 1rem;
  padding: 1%;
  width: 15vw;
  border: none;
  font-weight: 600;
}

.searchAndselect {
  display: flex;
  margin: 2.5em 5em;
  justify-content: space-between;
  font-size: 14px;
  gap: 3em
}

/* single country details  */
.details-h2{
  font-weight: bolder;
  color:rgb(223, 5, 5)
}
.backButton{
  outline: .5px solid rgb(121, 117, 117);
  border:none;
  padding: 5px 25px;
  margin:1em;
  font-weight: 600;
  
}
.detailDiv{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  margin: 5em;
}
.single-county-img{
  width: auto;
  height: 32vh;
}
.leftFlag{
  margin-bottom: 2em;
  display: flex;
  align-content: center;
  margin-top: 2em;
}
.rightTexts {
  margin-top: -1em;
}
.midDetail{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1em 0;
}

.borders{
  display: flex;
  justify-content: space-around;
  gap: 2em;
}
/* footer */
.fontawe {
  font-size: 1.75em;
}
.footer {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .6em;
  font-size: .95em;
}

.footer-icon {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  color: blue;
}

/* fly to a country  */
.fly-div{
  position: relative;
  height: 32vh;
  width: 800px;
  max-width: 100vw;
  margin: 0 auto;
}
.fly-video {
  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fly-h2 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1% 13%;
  width: 100%;
  height: 110%;
  margin: 0;
  font-weight: bold ;
  font-size: 6.5em;
  letter-spacing: 20px;
  text-transform: uppercase;
  background-color: #ffffff;
  mix-blend-mode: screen;
  font-family: 'Caprasimo', cursive;
}

@media only screen and (max-width: 980px) {
  .headerAndDarkbutton {
    padding: 1em;
  }

  .mainDiv {
    display: grid;
    grid-template-columns: 1fr;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr;
  }

  .search-input {
    padding: 3%;
    width: 95%;
    border: 1px solid grey;
  }

  .searchAndselect {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 2em .75em;
  }

  .select {
    padding: 3%;
    width: 95%;
    border: 1px solid grey;
  }
  /* single country */
    .detailDiv {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows:auto;
      margin: 1em;
      height: 130vh;
    }
    .midDetail {
      display: grid;
      grid-template-columns: 1fr;
      
    }
    .rightTexts {
      margin-top: -6em;
    }
    .fly-h2 {
    font-size: 4rem;
    letter-spacing: .5px;
    }
 
}